<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- db driver: fill in the local path of your db driver package -->
    <classPathEntry  location="/usr/local/Cellar/maven/3.6.3_1/repository/mysql/mysql-connector-java/8.0.23/mysql-connector-java-8.0.23.jar"/>
    <context id="DB2Tables"  targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- remove auto-comment -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--database url，username、password -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://database-1.cncnpgr9d0ml.ap-northeast-2.rds.amazonaws.com:3306/MomentsDB?serverTimezone=UTC&amp;useSSL=false&amp;allowPublicKeyRetrieval=true" userId="admin" password="Swjdaerbi233233">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- package and name of model class -->
        <javaModelGenerator targetPackage="com.allen.moments.v2.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- mybatis map -->
        <sqlMapGenerator targetPackage="mybatis" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- package and name of DAO class -->
        <javaClientGenerator type="ANNOTATEDMAPPER" targetPackage="com.allen.moments.v2.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!-- table to generate code tableName refers to the table in DB,  domainObjectName refers to the java class -->
        <table tableName="post" domainObjectName="Post"  mapperName="PostDao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"></table>
    </context>
</generatorConfiguration>
